<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouTube Education</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="./assets/images/icons/logo-icon.svg" />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body class="bg-gray-200 flex flex-col relative">
    <header
      class="
        sticky
        top-0
        left-0
        px-6
        py-3
        md:py-4
        flex
        justify-between
        bg-white
        z-30
      "
    >
      <div class="flex z-40">
        <!-- logo -->
        <a href="/" class="flex items-center">
          <img
            src="./assets/images/icons/logo-icon.svg"
            alt="Logo"
            class="w-10 md:w-12 mr-2"
          />
          <div class="text-xl md:text-2xl font-bold">Education</div>
        </a>
      </div>

      <!-- profile -->
      <div
        id="profile"
        class="
          self-center
          flex
          items-center
          md:border-2
          border-red-500
          rounded-sm
          cursor-pointer
          p-2
        "
      >
        <img
          src="./assets/images/icons/account-icon.svg"
          alt=""
          class="w-9 md:w-8 mr-0 md:mr-1"
        />
        <div class="text-red-500 font-bold uppercase hidden md:block"
          >Sign In</div
        >
      </div>
    </header>

    <main class="my-10">
      <!-- search -->
      <form
        id="search-form"
        class="flex justify-center px-10"
        autocomplete="off"
        method="GET"
        action="/search"
      >
        <input
          type="text"
          name="query"
          id="search-bar"
          placeholder="Search..."
          class="
            rounded-full
            border-2 border-red-500
            w-96
            max-w-full
            px-5
            py-2
            outline-none
          "
          value="<%= query %>"
        />
        <button type="submit">
          <img
            src="./assets/images/icons/search-icon.svg"
            alt="Search"
            class="h-11 ml-5"
          />
        </button>
      </form>

      <!-- tab toggler -->
      <div class="flex justify-center gap-0 mt-8">
        <button
          id="videos"
          class="
            text-sm
            py-1
            w-32
            border border-red-500
            rounded-md rounded-r-none
            cursor-pointer
            transition
            bg-white
            <% if (resultType === 'video') { %> active-tab <% } %>
          "
          >Videos</button
        >
        <button
          id="playlists"
          class="
            text-sm
            py-1
            w-32
            border border-l-0 border-red-500
            rounded-md rounded-l-none
            cursor-pointer
            transiton
            bg-white
            <% if (resultType === 'playlist') { %> active-tab <% } %>
          "
          >Playlists</button
        >
      </div>

      <!-- results -->
      <div id="results" class="lg:w-4/5 px-6 mt-16 mx-auto flex flex-col gap-6">
        <% if (results.items.length !== 0) { %>
          <% results.items.forEach(item => { %>
          
            <% if (resultType === 'video') { %>

              <% videoUrl = `/watch?id=${item.id.videoId}&type=video`; %>
              <% videoDetails = item.snippet; %>

              <a class="flex gap-4" href="<%= videoUrl %>">
                <%# thumbnail %>
                <img
                  src="<%= videoDetails.thumbnails.medium.url %>"
                  alt="thumbnail"
                  class="lg:w-80 md:w-72 w-56 h-auto"
                />
    
                <%# details %>
                <div class="flex flex-col">
                  <%# title %>
                  <header class="font-medium md:text-xl text-lg leading-6">
                    <%- videoDetails.title %>
                  </header>
    
                  <%# upload date %>
                  <span id="upload-date" class="text-xs">
                    <% uploaded = duration.between(videoDetails.publishTime, now) %>
                    
                    <% if (uploaded.years > 0) { %>
                      <%= uploaded.years %> <%- uploaded.years > 1 ? 'years' : 'year' %> ago
                    <% } else if (uploaded.months > 0) { %>
                      <%= uploaded.months %> <%- uploaded.months > 1 ? 'months' : 'month' %> ago
                    <% } else if (uploaded.weeks > 0) { %>
                      <%= uploaded.weeks %> <%- uploaded.weeks > 1 ? 'weeks' : 'week' %> ago
                    <% } else if (uploaded.days > 0) { %>
                      <%= uploaded.days %> <%- uploaded.days > 1 ? 'days' : 'day' %> ago
                    <% } else if (uploaded.hours > 0) { %>
                      <%= uploaded.hours %> <%- uploaded.hours > 1 ? 'hours' : 'hour' %> ago
                    <% } else if (uploaded.minutes > 30) { %>
                      Less than an hour ago
                    <% } else if (uploaded.minutes > 0) { %>
                      <%= uploaded.minutes %> minutes ago
                    <% } else { %>
                      Just now
                    <% } %>
                  </span>
    
                  <%# description %>
                  <div class="mt-4 text-sm hidden md:block">
                    <%- videoDetails.description %>
                  </div>
    
                  <%# channel name %>
                  <div class="mt-auto"> <%= videoDetails.channelTitle %> </div>
                </div>
              </a>

            <% } else if (resultType === 'playlist') { %>

              <% playlistUrl = `/watch?id=${item.id.playlistId}&type=playlist`; %>
              <% playlistDetails = item.snippet; %>

              <a class="flex gap-4" href="<%= playlistUrl %>">
                <%# thumbnail %>
                <img
                  src="<%= playlistDetails.thumbnails.medium.url %>"
                  alt="thumbnail"
                  class="lg:w-80 md:w-72 w-56 h-auto"
                />
    
                <%# details %>
                <div class="flex flex-col">
                  <%# title %>
                  <header class="font-medium md:text-xl text-lg leading-6">
                    <%- playlistDetails.title %>
                  </header>
    
                  <%# upload date %>
                  <span id="upload-date" class="text-xs">
                    <% uploaded = duration.between(playlistDetails.publishedAt, now) %>
                    
                    <% if (uploaded.years > 0) { %>
                      <%= uploaded.years %> <%- uploaded.years > 1 ? 'years' : 'year' %> ago
                    <% } else if (uploaded.months > 0) { %>
                      <%= uploaded.months %> <%- uploaded.months > 1 ? 'months' : 'month' %> ago
                    <% } else if (uploaded.weeks > 0) { %>
                      <%= uploaded.weeks %> <%- uploaded.weeks > 1 ? 'weeks' : 'week' %> ago
                    <% } else if (uploaded.days > 0) { %>
                      <%= uploaded.days %> <%- uploaded.days > 1 ? 'days' : 'day' %> ago
                    <% } else if (uploaded.hours > 0) { %>
                      <%= uploaded.hours %> <%- uploaded.hours > 1 ? 'hours' : 'hour' %> ago
                    <% } else if (uploaded.minutes > 30) { %>
                      Less than an hour ago
                    <% } else if (uploaded.minutes > 0) { %>
                      <%= uploaded.minutes %> minutes ago
                    <% } else { %>
                      Just now
                    <% } %>
                  </span>
    
                  <%# description %>
                  <div class="mt-4 text-sm hidden md:block">
                    <%- playlistDetails.description %>
                  </div>
    
                  <%# channel name %>
                  <div class="mt-auto"> <%= playlistDetails.channelTitle %> </div>
                </div>
              </a>
              
            <% } %>
          <% }) %>
        <% } else { %>

          <p>No results found!</p>

        <% } %>
      </div>
    </main>

    <!-- footer -->
    <footer class="bg-gray-700 text-white px-6 pt-10 pb-8">
      <div class="lg:w-4/5 mx-auto">
        <h2 class="font-bold text-xl md:text-left text-center"
          >YouTube for Education</h2
        >

        <div
          class="
            flex
            md:flex-row
            flex-col
            justify-between
            gap-10
            md:items-start
            items-center
            md:my-5
            my-10
          "
        >
          <!-- quick links -->
          <div>
            <h3 class="font-medium mb-3">Quick Links</h3>
            <ul class="text-gray-300">
              <li class="text-sm mb-1 md:text-left text-center"
                ><a href="/">Home</a></li
              >
              <li class="text- md:text-left text-center"
                ><a href="/about">About</a></li
              >
            </ul>
          </div>

          <!-- made with ❤️ -->
          <div>
            Made with ❤️ by
            <a href="https://github.com/rushabhhere">Rushabh</a>,
            <a href="https://github.com/Om-Kamath">Om</a>
            and
            <a href="https://github.com/VarunNair03">Varun</a>
          </div>

          <!-- source code -->
          <a
            href="https://github.com/rushabhhere/youtube-for-education"
            target="_blank"
            class="flex items-center p-2 bg-red-600 rounded-sm"
          >
            <span class="text-sm">Source Code</span>
            <img
              src="./assets/images/icons/github.svg"
              alt="GitHub"
              class="w-6 ml-3"
            />
          </a>
        </div>

        <!-- note -->
        <div class="flex md:justify-end justify-center">
          <div class="text-sm text-gray-300 md:text-left text-center">
            Note: This is not an official Google product but a prototype of what
            should be one.
          </div>
        </div>
      </div>
    </footer>

    <!-- linking js -->
    <script src="./js/handle-search.js"></script>
    <script src="./js/search.js"></script>
  </body>
</html>
