<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= video.snippet.title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="./assets/images/icons/logo-icon.svg" />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body class="flex flex-col bg-gray-100 relative">
    <div
      id="disable-page"
      class="
        top-0
        bottom-0
        w-full
        absolute
        z-10
        bg-black
        transition
        opacity-30
        hidden
      "
    ></div>

    <header
      class="
        sticky
        top-0
        left-0
        px-6
        py-3
        md:py-4
        flex
        justify-between
        bg-white
        z-30
      "
    >
      <div class="flex z-40">
        <!-- menu toggle -->
        <div id="toggler" class="self-center mr-4 cursor-pointer md:hidden">
          <img
            src="./assets/images/icons/menu-toggler.svg"
            alt=""
            class="w-6"
          />
        </div>

        <!-- logo -->
        <a href="/" class="flex items-center">
          <img
            src="./assets/images/icons/logo-icon.svg"
            alt="Logo"
            class="w-10 md:w-12 mr-2"
          />
          <div class="text-xl md:text-2xl font-bold">Education</div>
        </a>
      </div>

      <!-- nav -->
      <nav
        id="main-nav"
        class="
          md:self-center
          md:static
          md:h-auto
          md:w-auto
          md:bg-transparent
          md:transform-none
          md:transition-none
          grid
          items-center
          absolute
          top-0
          left-0
          w-2/5
          min-w-max
          h-screen
          bg-white
          z-20
          transform
          -translate-x-full
          transition
        "
      >
        <ul class="flex md:flex-row md:mt-0 flex-col items-center px-8">
          <li class="md:mr-14 md:mb-0 mb-16">
            <a href="/" class="hover:text-gray-600 transition">Home</a>
          </li>
          <li class="md:mr-14 md:mb-0 mb-16">
            <a href="/library" class="hover:text-gray-600 transition">Library</a>
          </li>
          <li>
            <a href="/about" class="hover:text-gray-600 transition">About</a>
          </li>
        </ul>
      </nav>

      <!-- profile -->
      <div
        id="profile"
        class="
          self-center
          flex
          items-center
          md:border-2
          border-red-500
          rounded-sm
          cursor-pointer
          p-2
        "
      >
        <img
          src="./assets/images/icons/account-icon.svg"
          alt=""
          class="w-9 md:w-8 mr-0 md:mr-1"
        />
        <div class="text-red-500 font-bold uppercase hidden md:block"
          >Sign In</div
        >
      </div>
    </header>

    <main class="flex flex-col mb-8">
      <!-- search bar -->
      <form
        id="search-form"
        class="flex justify-end px-10 my-4"
        autocomplete="off"
        method="GET"
        action="/search"
      >
        <input
          type="text"
          name="query"
          id="search-bar"
          placeholder="Search..."
          class="
            rounded-full
            border-2 border-red-500
            w-72
            max-w-full
            px-5
            py-2
            outline-none
            hidden
          "
        />
        <button type="submit">
          <img
            src="./assets/images/icons/search-icon.svg"
            alt="Search"
            class="h-11 ml-5"
          />
        </button>
      </form>

      <!-- content -->
      <div class="self-center flex justify-center w-4/5 md:w-3/5">
        <div class="flex flex-col w-full mt-3 md:mt-1">
          <!-- embed -->
          <div class="flex justify-center aspect-w-16 aspect-h-9">
            <div class="container">
              <iframe
                src="https://www.youtube.com/embed/<%= video.id %>"
                allowfullscreen
                class="responsive-iframe"
              ></iframe>
            </div>
          </div>

          <!-- details -->
          <div class="mt-5 flex flex-col">
            <!-- title -->
            <p class="font-medium text-2xl"> <%= video.snippet.title %> </p>

            <!-- stats -->
            <div
              class="
                flex
                md:flex-row
                flex-col
                items-start
                md:items-center
                justify-between
                font-normal
                mt-3
              "
            >
              <div class="flex">
                <p class="font-normal" id="view-count">
                  <%= video.statistics.viewCount %> views
                </p>
                <p class="mx-1"> &bull; </p>
                <p class="font-normal" id="publish-date">
                  <% date = new Date(video.snippet.publishedAt) %>
                  <% const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec" ] %>
                  <%= date.getDate() %> <%= monthNames[date.getMonth()] %>, <%= date.getFullYear() %>
                </p>
              </div>

              <div class="flex gap-5">
                <!-- like -->
                <div class="flex cursor-pointer gap-1">
                  <img
                    src="./assets/images/icons/like-icon.svg"
                    alt="likes"
                    class="w-5"
                  />
                  <p>80K</p>
                </div>

                <!-- dislike -->
                <div class="flex cursor-pointer gap-1">
                  <img
                    src="./assets/images/icons/dislike-icon.svg"
                    alt=""
                    class="w-5"
                  />
                  <p>120</p>
                </div>

                <!-- watch later -->
                <div class="flex cursor-pointer gap-1">
                  <img
                    src="./assets/images/icons/watch-later-icon.svg"
                    alt=""
                    class="w-5"
                  />
                  <p class="uppercase">Watch Later</p>
                </div>
              </div>
            </div>

            <!-- Description / Notes toggler -->
            <div class="flex justify-center gap-0 mt-14 mb-10">
              <button
                id="description-toggler"
                class="
                  text-sm
                  py-1
                  w-32
                  border border-red-500
                  rounded-md rounded-r-none
                  cursor-pointer
                  transition
                  bg-white
                  active-tab
                "
                >Description
              </button>
              <button
                id="notes-toggler"
                class="
                  text-sm
                  py-1
                  w-32
                  border border-l-0 border-red-500
                  rounded-md rounded-l-none
                  cursor-pointer
                  bg-white
                  transiton
                "
                >Notes</button
              >
            </div>

            <!-- description -->
            <div id="description" class="flex flex-col-reverse md:flex-row">
              <div class="flex-1 mr-8">
                <div id="video-description-readmore">
                  <% for (const line of video.snippet.description.split("\n")) { %>
                    <p id="video-description" class="my-2">
                      <%= line %>
                    </p>
                  <% } %>
                </div>

                <button class="font-medium text-gray-500" id="read-more">
                  Read More
                </button>
              </div>

              <!-- Subscribe Button -->
              <div
                class="
                  border-b-2 border-gray-200
                  md:border-none
                "
                id="video-description-google"
              >
                <script src="https://apis.google.com/js/platform.js"></script>

                <div
                  id="youtube-subscribe-btn"
                  class="g-ytsubscribe"
                  data-channelid="<%= video.snippet.channelId %>"
                  data-layout="full"
                  data-count="default"
                ></div>
              </div>
            </div>

            <!-- notes -->
            <div class="hidden" id="notes">
              <!-- add-notes button wrapper -->
              <section class="flex justify-end mb-6">
                <button
                  id="add-note"
                  class="
                    bg-red-300
                    px-5
                    py-2
                    flex
                    items-center
                    text-lg
                    rounded
                  "
                >
                  <img src="./assets/images/icons/plus.svg" alt="" class="w-5 mr-2" />
                  Add Note
                </button>
              </section>

              <!-- notes section -->
              <section id="notes-section" class="flex flex-wrap gap-6">
                <div class="h-auto w-64">
                  <div class="bg-red-200 flex justify-end">
                    <button id="edit" class="p-2 outline-none">
                      <img src="./assets/images/icons/edit.svg" alt="Edit" class="w-5" />
                    </button>
                    <button id="delete" class="p-2 outline-none">
                      <img src="./assets/images/icons/trash.svg" alt="Delete" class="w-5" />
                    </button>
                  </div>
              
                  <textarea 
                    id="note-input" 
                    class="w-full 
                          outline-none 
                          resize-none 
                          h-72 
                          p-3" 
                    placeholder="Enter your note..."
                  ></textarea>
                </div>

                <div class="h-auto w-64">
                  <div class="bg-red-200 flex justify-end">
                    <button id="edit" class="p-2 outline-none">
                      <img src="./assets/images/icons/edit.svg" alt="Edit" class="w-5" />
                    </button>
                    <button id="delete" class="p-2 outline-none">
                      <img src="./assets/images/icons/trash.svg" alt="Delete" class="w-5" />
                    </button>
                  </div>
              
                  <textarea 
                    id="note-input" 
                    class="w-full 
                          outline-none 
                          resize-none 
                          h-72 
                          p-3" 
                    placeholder="Enter your note..."
                  ></textarea>
                </div>

                <div class="h-auto w-64">
                  <div class="bg-red-200 flex justify-end">
                    <button id="edit" class="p-2 outline-none">
                      <img src="./assets/images/icons/edit.svg" alt="Edit" class="w-5" />
                    </button>
                    <button id="delete" class="p-2 outline-none">
                      <img src="./assets/images/icons/trash.svg" alt="Delete" class="w-5" />
                    </button>
                  </div>
              
                  <textarea 
                    id="note-input" 
                    class="w-full 
                          outline-none 
                          resize-none 
                          h-72 
                          p-3" 
                    placeholder="Enter your note..."
                  ></textarea>
                </div>
              </section>

            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="bg-gray-700 text-white px-6 pt-10 pb-8">
      <div class="lg:w-4/5 mx-auto">
        <h2 class="font-bold text-xl">YouTube for Education</h2>

        <div class="flex justify-between items-start my-5">
          <!-- quick links -->
          <div>
            <h3 class="font-medium mb-3">Quick Links</h3>
            <ul class="text-gray-300">
              <li class="text-sm mb-1"><a href="/">Home</a></li>
              <li class="text-sm mb-1"><a href="/library">Library</a></li>
              <li class="text-sm"><a href="/about">About</a></li>
            </ul>
          </div>

          <!-- made with ❤️ -->
          <div>
            Made with ❤️ by
            <a href="https://github.com/rushabhhere">Rushabh</a>,
            <a href="https://github.com/Om-Kamath">Om</a>
            and
            <a href="https://github.com/VarunNair03">Varun</a>
          </div>

          <!-- source code -->
          <a
            href="https://github.com/rushabhhere/youtube-for-education"
            target="_blank"
            class="flex items-center p-2 bg-red-600 rounded-sm"
          >
            <span class="text-sm">Source Code</span>
            <img
              src="./assets/images/icons/github.svg"
              alt="GitHub"
              class="w-6 ml-3"
            />
          </a>
        </div>

        <!-- note -->
        <div class="flex justify-end">
          <div class="text-sm text-gray-300">
            Note: This is not an official Google product but a prototype of what
            should be one.
          </div>
        </div>
      </div>
    </footer>

    <!-- linking js -->
    <script src="./js/navigation.js"></script>
    <script src="./js/video.js"></script>
    <script src="./js/notes.js" type="module"></script>
  </body>
</html>
